* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Tipografía */
.ephesis-regular {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}

/* .klee-one-regular {
  font-family: "Klee One", cursive;
  font-weight: 600;
  font-style: normal;
} */

body {
  /* background-color: #bcc7b6; */
  background-color: #efefea;
  background-image: url(../assets/paper\ wallpaper.jpg);
}

/*HEADER: imágenes + audio */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 11rem;
}

/*BOTON MUSICA */

.btn-musica {
  border-radius: 100%;
  background-color: #6d6b67;
  border: none;
}

/*MAIN */

.container-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4e5f4b;
}
main div h1 {
  font-size: 5rem;
}

.fecha-cumple {
  font-size: 1.6rem;
}

main {
  margin-top: 1rem;
}

main h2 {
  text-align: center;
  padding-top: 1rem;
  font-size: 2.5rem;
}

/*CUENTA REGRESIVA */
.container_cuentaRegresiva {
  margin: 1.5rem;
  border: 0.5rem double #888863;
  color: #6d6b67;
}

.cuentaRegresiva {
  font-size: 1.3rem;
  padding: 0.5rem;
}

.container_tiempo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-texto_tiempo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.texto-tiempo {
  padding: 1rem;
  letter-spacing: 5px;
  color: #6d6b67;
}

/*CARDS */

.card-seccion {
  min-height: 23rem;
  display: flex;
  align-items: center;
  border: 4px double #888863;
  border-radius: 0.5rem;
  color: #9e9b94;
  box-shadow: 5px 5px 15px -1px #7b7958;
}

.card-seccion h5 {
  color: #4e5f4b;
}

.card-seccion_especial {
  min-height: 16rem;
  display: flex;
  align-items: center;
  border: 4px double #888863;
  border-radius: 0.5rem;
  color: #9e9b94;
  box-shadow: 5px 5px 15px -1px #7b7958;
}

.card-seccion_especial h5 {
  color: #4e5f4b;
}
.img_card {
  width: 9rem;
  padding: 1rem;
}

.btn-card-seccion {
  border-radius: 5rem;
  background-color: #4e5f4b;
  border: none;
  font-size: 1.1rem;
  padding: 1rem 2rem 1rem 2rem;
}

/*FLOR DECORATIVA CARDS */

.container_flor-izq {
  position: absolute;
}

.container_flor-izq img {
  position: relative;
  z-index: 1;
  width: 30%;
}

.container_flor-der {
  position: absolute;
}

.container_flor-der img {
  position: relative;
  z-index: 1;
  width: 40%;
  left: 15rem;
}

/*FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4e5f4b;
  font-size: 2.3rem;
  word-spacing: 0.3rem;
}

footer div {
  align-self: end;
}

footer img {
  height: 10rem;
}

/*MARCA */

.publicidad {
  background-color: rgb(21, 14, 29);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.publicidad span {
  font-weight: bold;
  color: rgb(91, 91, 91);
}
